@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --background: hsl(225, 100%, 94%);
    --background-container: hsl(225, 100%, 98%);
    --background-plan: rgb(240, 242, 250);
    --titles: hsl(223, 47%, 23%);
    --descriptions: hsl(224, 23%, 55%);
    --button: hsl(245, 75%, 52%);
    --active: rgb(118, 108, 241);

}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Red Hat Display', sans-serif ;
}

body{
    background: url('/src/images/pattern-background-desktop.svg') no-repeat;
    background-size: cover;
    background-color: var(--background);
    max-width: 1440px;
    height: 78vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}



